<div class="container-fluid image-background" id="about-1">
  <div class="image-overlay d-flex align-items-center justify-content-center">
    <h1 class="section-header exo white text-center no-margin">Who is Euro Bike Tours?</h1>
  </div>
</div>

<div class="container about-container">
  <div class="row no-gutters">
    <div class="col-12">
      <h1 class="page-header exo blue text-left no-margin">We specialise in crafting memorable travel experiences across Europe.</h1>
      <div class="underline"></div>
      <h2 class="sub-header kanit-3 mb3">We were founded in 2018, after a group of travel addicts and cycling enthusiasts noticed the lack of options for organised, multi-destination cycle travel.</h2>
      <p class="default-text kanit-3">Our aim is to make cycle tours accessible to all, whatever your ability, fitness level, or budget. We believe that travelling is as much about the journey as the destination, and there is no better way to experience the wonders of Europe than on two wheels.</p>
      <p class="default-text kanit-3">The freedom is unparalleled, and the excitement ever-present. We are passionate about what we do, and we hope you will take the next step on your travelling adventures with us!</p>
    </div>
  </div>
</div>

<div class="container-fluid image-background" id="about-2">
  <div class="image-overlay d-flex align-items-center justify-content-center">
    <h1 class="section-header exo white text-center no-margin">Why should I use Euro Bike Tours?</h1>
  </div>
</div>

<div class="container about-container">
  <div class="row no-gutters">
    <div class="col-12">
      <h1 class="page-header exo blue text-left no-margin">We've been around the block, so we know a thing or two about organising a cycling trip...</h1>
      <div class="underline"></div>
      <h2 class="sub-header kanit-3 mb3">From the rolling Tuscan hills to the windswept flats of the Netherlands, we pride ourselves on our ability to create just about any imaginable itinerary.</h2>
      <p class="default-text kanit-3">Our team has extensive experience of cycling on the continent. If you book a tour with us, you won't find yourself at the roadside with a flat tyre and a soaking wet map written in a foreign language. You will receive a comprehensive pre-tour package, with guidance on everything from local customs, to cycling etiquette, and even the best coffee stops along the way!</p>
      <p class="default-text kanit-3">After many years of cycling around Europe, we established a vast network of friends and travel buddies who in turn became our trusted business partners. We have links with local bike shops, cafes, and accommodation, so you will never be too far away from a friendly face.</p>
    </div>
  </div>
</div>

<div class="container-fluid image-background" id="about-3">
  <div class="image-overlay d-flex align-items-center justify-content-center">
    <h1 class="section-header exo white text-center no-margin">Should I Choose Guided or Self Guided?</h1>
  </div>
</div>

<div class="container about-container">
  <div class="row no-gutters mb3">
    <div class="col-12">
      <h1 class="page-header exo blue text-left no-margin">Freedom and Flexibility vs. Structure and Security</h1>
      <div class="underline"></div>
      <h2 class="sub-header kanit-3 mb3">This depends entirely on the level of flexibility you desire on your trip.</h2>
      <p class="default-text kanit-3">Choosing a guided tour is the best way to ensure that you see all of the main sights on your route. Our guides are experts on local knowledge, and they all speak at least one foreign language to an intermediate level. You can rest assured that everything is taken care of; all you need to bring is your energy!</p>
      <p class="default-text kanit-3">A self guided tour is the best way to get the most out of your trip on your own terms. Primarily, you won't have to stick to a strict schedule, meaning you can spend as much or as little time as you like in different places. Feel free to go back to that quirky little cafe you spotted yesterday; nobody is stopping you!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 card-col">
      <div class="card h-100">
        <div class="card-image" id="card-image-1">
          <div class="image-overlay d-flex justify-content-center align-items-center">
            <h2 class="card-title kanit-3 white text-center">Guided</h2>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            See all of the main sights on your itinerary, without worrying about navigation
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Expert guides with in-depth local knowledge, and first-aid training
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            A friendly face who is on hand at all times to deal with your queries
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Peace of mind, so you can leave the planning to us and focus on enjoying your travels
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 card-col">
      <div class="card h-100">
        <div class="card-image" id="card-image-2">
          <div class="image-overlay d-flex justify-content-center align-items-center">
            <h2 class="card-title kanit-3 white text-center">Self Guided</h2>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Choose where you want to go, when you want to go, and how long you want to spend there
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            A more 'authentic' experience, for those more adventurous
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Choose which route you want to take: long and scenic, or short and sweet
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Fully immerse yourself in the local environment
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid image-background" id="about-4">
  <div class="image-overlay d-flex align-items-center justify-content-center">
    <h1 class="section-header exo white text-center no-margin">Private or Group?</h1>
  </div>
</div>

<div class="container about-container">
  <div class="row no-gutters mb3">
    <div class="col-12">
      <h1 class="page-header exo blue text-left no-margin">Familiar Faces vs. Friendly Strangers</h1>
      <div class="underline"></div>
      <h2 class="sub-header kanit-3 mb3">Want to travel with a select few friends or family, or fancy having a blast while meeting new people?</h2>
      <p class="default-text kanit-3">Private tours tend to be favoured among larger groups of family and friends, who want an exciting travel experience that they can share together.</p>
      <p class="default-text kanit-3">On the other hand, group tours tend to be a hit amongst the younger travellers, often a small group of friends, or even individuals, who are eager for a unique European adventure while making new friends for life.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 card-col">
      <div class="card h-100">
        <div class="card-image" id="card-image-3">
          <div class="image-overlay d-flex justify-content-center align-items-center">
            <h2 class="card-title kanit-3 white text-center">Private</h2>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Travel exclusively with friends and family, no tag alongs!
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            A more relaxed alternative to the hustle and bustle of group tours; explore at your leisure
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Better suited to groups where cycling ability levels are more closely aligned
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Explore as a large group or in smaller splinter groups; entirely up to you
          </p>
        </div>
      </div>
    </div>
    <div class="col-6 card-col">
      <div class="card h-100">
        <div class="card-image" id="card-image-4">
          <div class="image-overlay d-flex justify-content-center align-items-center">
            <h2 class="card-title kanit-3 white text-center">Group</h2>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Travel with like-minded strangers; a brilliant opportunity to make new friends
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            More energetic and action-packed sight-seeing; choose from a range of options
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Better suited to groups where cycling ability levels are more widely spread from beginner to advanced
          </p>
          <p class="card-text kanit-3">
            <i class="fas fa-arrow-right"></i>
            Explore points of interest within smaller groups and then re-convene for the longer stretches
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container about-description animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="sub-header">I'm sold! What do I do now?</h2>
      <p class="default-text mb2">With Cycle City there are two options: guided or self-guided. It's that simple. Find out more about each option below, and then head over to
        <%= link_to 'products', products_path %>
      to explore what's on offer.
      </p>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 mb2">
          <div class="thumbnail">
            <%= image_tag 'christin-hume-588780-unsplash.jpg', class: 'img-fluid' %>
            <h3 class="mt1 mb2">Have a blast with friends and family...</h3>
            <div class="caption">
              <p>Take in the sights, sounds, and tastes on two wheels with one of our guided tours. One of our friendly, professional, Cape Town-native guides will take the lead and craft a memorable adventure for you and your group, allowing you to relax and enjoy everything the Mother City has to offer.</p>
            </div>
            <p><a href="/products" class="btn btn-primary mb1" role="button">View More</a></p>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 mb2">
          <div class="thumbnail">
            <%= image_tag 'david-marcu-125458-unsplash.jpg', class: 'img-fluid' %>
            <h3 class="mt1 mb2">...Or go it alone; just you and your map!</h3>
            <div class="caption">
              <p>If you are feeling adventurous, why not explore in your own time? With Cycle City, you can hire a bike from one of our bases and set out on a self-guided tour, stopping off at your leisure. Ask us for a map, alternatively our expert guides will be on hand to provide tips, hints, and general advice.</p>
            </div>
            <p><a href="/products" class="btn btn-primary mb1" role="button">View More</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
        </div>
        <div class="col-xs-12 col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div> -->
