<h1>About us</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <p>We provide a platform for you to locate and utilise used bikes on your travels around Cape Town</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <%= image_tag("viktor-kern-65943-unsplash.jpg", class: "img-responsive about-image") %>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>
