<div class="container-fluid animated fadeIn" id="hero-container">
  <div class="container" id="hero-caption">
    <h1>WELCOME TO CYCLE CiTy</h1>
    <hr id="caption-divider">
    <a href="/simple_pages/about"><h2><em>Cape Town, on two wheels</em></h2></a>
  </div>
</div>
