<div class="container-fluid carousel-container">
  <div id="custom-carousel" class="carousel slide carousel-fade" data-ride="false" data-interval="5000" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#custom-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#custom-carousel" data-slide-to="1"></li>
      <li data-target="#custom-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("john-o-nolan-614057-unsplash_edit.jpg", class: "carousel-image d-block w-100 h-100 img-fluid") %>
        <div class="carousel-caption">
          <h1>yeah</h1>
          <p>nah</p>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("david-marcu-125458-unsplash_edit.jpg", class: "carousel-image d-block w-100 h-100 img-fluid") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("marcelo-novais-264671-unsplash_edit.jpg", class: "carousel-image d-block w-100 h-100 img-fluid") %>
      </div>
    </div>
  </div>
</div>
