<div class="container-fluid carousel-container">
  <div id="custom-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#custom-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#custom-carousel" data-slide-to="1"></li>
      <li data-target="#custom-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" id="image-1">
        <div class="carousel-caption">
          <p class="carousel-tagline orange kanit-5 no-margin">Epic Views</p>
          <p class="carousel-tagline orange kanit-5 no-margin">Unique Terrain</p>
          <p class="carousel-tagline orange kanit-5 no-margin">Unforgettable Experiences</p>
          <a class="btn carousel-btn kanit-3" href="/about">
            Start Exploring
          </a>
        </div>
        <p class="image-location kanit-3">Piatra Arsă, Romania</p>
      </div>
      <div class="carousel-item" id="image-2">
        <div class="carousel-caption">
          <p class="carousel-tagline orange kanit-5 no-margin">Guided or Unguided</p>
          <p class="carousel-tagline orange kanit-5 no-margin">Group or Private</p>
          <p class="carousel-tagline orange kanit-5 no-margin">3 Days or 3 Weeks</p>
          <p class="carousel-text white kanit-3">With Euro Bike Tours, you can tailor your cycling tour experience according to your requirements. All of our packages include comprehensive guidance, pre-, mid- and post-tour assistance, and the best local knowledge on offer by our expert staff.</p>
          <a class="btn carousel-btn kanit-3" href="/about#tour-types">
            Tour Types
          </a>
        </div>
        <p class="image-location kanit-3">Nedre Oscarshaug, Norway</p>
      </div>
      <div class="carousel-item" id="image-3">
        <div class="carousel-caption">
          <p class="carousel-tagline orange kanit-5 no-margin">Vibrant Cities, Snow-Capped Peaks, and Rolling Countryside</p>
          <p class="carousel-tagline orange kanit-5 no-margin">History, Culture, Tradition</p>
          <p class="carousel-tagline orange kanit-5 no-margin">The Trip of a Lifetime</p>
          <p class="carousel-text white kanit-3">From the warm aromas of the Spanish street market, to the crisp, invigorating air of the Swiss Alps. For us, there is no better way to sample the delights of this unique continent than on two wheels.</p>
          <a class="btn carousel-btn kanit-3" href="/products">
            Explore Routes
          </a>
        </div>
        <p class="image-location kanit-3">Yaremche, Ukraine</p>
      </div>
    </div>
    <div class="static-caption">
      <h1 class="carousel-header do-hyeon text-left white mb1">Euro Bike Tours</h1>
      <h2 class="carousel-sub-header do-hyeon no-margin text-left white">Go Beyond.</h2>
    </div>
    <a class="carousel-control-prev" href="#custom-carousel" role="button" data-slide="prev">
      <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next" href="#custom-carousel" role="button" data-slide="next">
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>
