<!-- <h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>

<%= image_tag("flo-karr-145590-unsplash.jpg", class: "img-responsive") %> -->

<div class="container-fluid" id="hero-container">
  <div class="container" id="hero-caption">
    <h1>Welcome to Bike Berlin</h1>
    <hr id="caption-divider">
    <h2><em>The easiest way to explore Berlin on two wheels!</em></h2>
  </div>
</div>
