<div class="panel panel-default">
  <h1>Thank you</h1>
  <div class="panel-body">
    <p>Your message has been received. We will respond as soon as possible with an answer to your query.</p>
  </div>
</div>
