<table>
  <tbody>
    <tr>
      <td><p>Dear <%= @user.first_name %>,</p></td>
      <td><p>Thank you for purchasing <strong> <%= @product.name %> </strong></p></td>
      <td><p>We hope you enjoy it!</p></td>
    </tr>
    <tr>
      <td><p>From the team at Cycle City</p></td>
    </tr>
  </tbody>
</table>
