<div class="panel panel-default">
  <h1>Thank you for your purchase</h1>
  <div class="panel-body">
    <p>Your order has completed and will be processed as soon as possible.</p>
    <p>Why not check out some of our other
      <%= link_to 'products.', products_path, class: 'in-text-link' %>
    </p>
  </div>
</div>
