.nav-open {
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 300;
}

.nav-container {
  position: fixed;
  top: -100%;
  // top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 200;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}

.primary-links-container {
  border-bottom: 5px solid #02a4ff;
}

.primary-links-row,
.secondary-links-row {
  height: 50vh;
}

.nav-item {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  text-decoration: none;
}

#nav-item-1 {
  background-image: url(asset_path("tessa-rampersad-493843-unsplash-fade.jpg"));
}

#nav-item-2 {
  background-image: url(asset_path("ian-608003-unsplash-fade-desat.jpg"));
}

#nav-item-3 {
  background-image: url(asset_path("noah-rosenfield-761102-unsplash-fade.jpg"));
}

.nav-item-overlay {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.overlay-header {
  position: relative;
  top: 40%;
  letter-spacing: 1.5px;
  font-size: 3.2rem;
  transition: all 0.3s ease;
}

.hover-fadeUp {
  position: relative;
  top: 70%;
  max-width: 400px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 2rem;
}

.nav-header {
  font-size: 2.8rem;
  margin: 40px auto 20px;
}

.nav-divider {
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-color: white;
}

.secondary-links-list {
  padding: 30px 100px;
}

.secondary-link {
  font-size: 2rem;
  transition: 0.3s;
  margin: 0 auto 10px;

  &:hover {
    color: #02a4ff;
  }
}

.social-icon {
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border-radius: 50%;
}

.fab {
  font-size: 3rem;
  transition: 0.3s;
}

#facebook {
  background-color: #0459c7;
}

#twitter {
  background-color: #00c2ff;
}

#instagram {
  background-color: #d6045e;
}

#youtube {
  background-color: #f30017;
}



// Primary Navbar styling
.primary-navbar {
  transition: 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75em 0;
  border-radius: 0;
  border-color: #fab297;
  background-color: #fab297;
  height: 90px;
}

.navbar-fixed-top {
  z-index: 1000;
}

.navbar .hover-item {
  display: inline-flex;
  list-style-type: none;
  transition: background-color 100ms;
}

.navbar .hover-item:hover {
  background-color: #118ab7;
  opacity: 0.8;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin: 0;
  cursor: default;
  h1 {
    margin: 0;
  }
}

#home-link {
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  color: #0f022d;
  text-decoration: none;
}

#navbar-container {
  margin: 0;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav a {
  font-family: 'Kanit', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #118ab7;
  transition: color 100ms;
}

.navbar-inverse .navbar-nav>li>a {
  color: #118ab7;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fab297;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.second-nav-container {
  list-style-type: none;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-form {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 2px solid #118ab7!important;
  padding: 10px 15px;
  margin: 0 5px;
}

#search-btn {
  padding: 5px 6px;
  background-color: #fff;
  color: #fab297;
  border: 2px solid #fab297;
  transition: 0.3s;
  font-family: 'Kanit', sans-serif;
}

#search-btn:hover {
  color: #118ab7;
  border-color: #118ab7;
}

.login-logout {
  font-family: 'Kanit', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #118ab7;
  border: 2px solid #118ab7;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: #f5f5f5;
  transition: 300ms;

  &:hover {
    background-color: #118ab7;
    color: #f5f5f5;
  }
}

.navbar-inverse .navbar-nav>#login-logout>a:hover {
  color: #118ab7;
}

@media (max-width: 768px) {
  #sidenav-open-btn {
    top: 30px;
  }
  .page-header {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .navbar {
    margin-bottom: 0;
  }

  .first-nav-container,
  .second-nav-container {
    display: none;
  }

  .primary-navbar {
    justify-content: space-between;
  }

  #sidenav-open-btn {
    position: absolute;
    left: 30px;
  }
}

@media (min-width: 1200px) {
  #sidenav-open-btn {
    display: none;
  }
}

// Secondary Navbar styling
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1030;
  top: 0;
  left: 0;
  background-color: #fab297;
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;
}

.secondary-navbar {
  display: flex;
  flex-direction: column;
}

#sidenav-open-btn,
#sidenav-close-btn {
  cursor: pointer;
  font-size: 20px;
}

#sidenav-close-btn {
  margin: 20px 0;
}

.inner-nav-container {
  margin-bottom: 20px;
}

.navbar-inner-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.sidenav-item {
  margin: 10px 70px;
  transition: background-color 100ms;

  a {
    font-family: 'Kanit', sans-serif;
    font-size: 1.15em;
    font-weight: 600;
    letter-spacing: 3px;
    color: #118ab7;
    transition: 100ms;
    padding: 5px 10px;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #118ab7;
      color: #fab297;
    }
  }
}

#sidenav-search-box {
  list-style-type: none;
  margin: 0 auto 20px;
  width: 80%;
}

.sidenav-textfield {
  width: 100%;
  margin-bottom: 10px;
}

.sidenav-login-logout {
  margin: 0;
}

.main-container {
    transition: margin-left .5s;
}
