// Primary Navbar styling
.primary-navbar {
  transition: 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.75em 0;
  border-radius: 0;
  border-color: #fab297;
  // background-color: #afeeee;
  background-color: #fab297;
  height: 90px;
}

.navbar .hover-item {
  display: inline-flex;
  list-style-type: none;
  border-radius: 5px;
  transition: background-color 300ms;
}

.navbar .hover-item:hover {
  background-color: #118ab7;
  opacity: 0.8;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 25px;
  margin: 0;
  cursor: default;
  h1 {
    margin: 0;
  }
}

#home-link {
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  font-size: 3.5em;
  color: #0f022d;
  text-decoration: none;
}

#navbar-container {
  margin: 0;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav a {
  font-family: 'Kanit', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #118ab7;
  border-radius: 10px;
  transition: color 300ms;
}

.navbar-inverse .navbar-nav>li>a {
  color: #118ab7;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fab297;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.second-nav-container {
  list-style-type: none;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-form {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 2px solid #118ab7!important;
  padding: 10px 15px;
  margin: 0 5px;
}

#search-btn {
padding: 5px 6px;
background-color: #fff;
color: #fab297;
border: 2px solid #fab297;
transition: 0.3s;
font-family: 'Kanit', sans-serif;
}

#search-btn:hover {
  color: #118ab7;
  border-color: #118ab7;
}

.login-logout {
  font-family: 'Kanit', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #118ab7;
  border: 2px solid #118ab7;
  border-radius: 5px;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: #f5f5f5;
  transition: 300ms;

  &:hover {
    background-color: #118ab7;
    color: #f5f5f5;
  }
}

.navbar-inverse .navbar-nav>#login-logout>a:hover {
  color: #118ab7;
}

@media (max-width: 768px) {
  .title {
    display: none;
  }
  .navbar {
    display: block;
    height: auto;
  }
  .navbar li {
    display: block;
  }
  .navbar-inverse .navbar-collapse {
    border-color: skyblue;
  }
  .navbar-inverse .navbar-toggle {
    background-color: skyblue;
    border-color: #118ab7;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #118ab7;
  }
  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: skyblue;
  }
}

@media (max-width: 1200px) {
  .first-nav-container,
  .second-nav-container {
    display: none;
  }
}


// Secondary Navbar styling

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 90px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.secondary-navbar {
  display: flex;
  flex-direction: column;
}


.main-container {
    transition: margin-left .5s;
}


@media (min-width: 1200px) {
  .secondary-navbar {
    display: none;
  }
}
