// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-form {
  width: 50%;
  margin: 0 auto 15px;
  background-color: #f5f5f5;
  border: 3px solid #fab297;
  border-radius: 5px;
}

#product-form label {
  margin-top: 5px;
}

.form-control {
  width: 70%;
  height: auto;
  margin: 15px auto;
}


// Index View Styling
.products-container {
  margin: 20px auto;
}

.products-individual {
  margin-bottom: 100px;
}


// Show View Styling
.show-view-image {
  max-width: 60%;
  margin: 20px auto;
}

.product-header {
  text-transform: uppercase;
  color: #fab297;
  letter-spacing: 1.5px;
}

.price {
  color: #118ab7;
}

.review-container {
  margin-top: 50px;
}

.review-form {
  border: 2px solid #fab297;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #fab297; }
  .flickr_pagination a {
    border: 1px solid #265a80;
    color: #265a80;
    text-decoration: none;
    transition: 300ms; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #fab297;
      background: #ffffff;
      color: #fab297; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
