// General Products Styling
#product-form {
  margin: 0 auto 15px;
  background-color: #fff;
  border: 3px solid #02a4ff;
  border-radius: 5px;
}

#product-form label {
  margin-top: 5px;
}

.form-control {
  // width: 70%;
  height: auto;
  margin: 15px auto;
}


// Products Index View Styling
.product-index-hero {
  background-image: url(asset_path("ian-608003-unsplash-tint.jpg"));
  margin-bottom: 100px;
}

.search-container {
  position: absolute;
  width: 100%;
  bottom: -5%;
}

.navbar-form {
  width: 40%;
  margin: 0 auto;
  padding: 0 35px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 3px solid #02a4ff;
}

#q {
  width: 80%;
  height: 60px;
  font-size: 1.8rem;
  border: 0;
  background-color: #f8f9fa;

  &:focus {
    outline: 0;
  }
}

#search-btn {
  min-width: 15%;
  padding: 5px 6px;
  background-color: #fff;
  border: 2px solid #02a4ff;
  color: #02a4ff;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
}

#search-btn:hover {
  background-color: #02a4ff;
  color: #fff;
}

.products-container {
  margin-bottom: 100px;
  min-height: 700px;
}

@media (min-width: 1200px) {
  .products-container {
    max-width: 1400px;
  }
}

.products-row {
  min-height: 100%;
}

.products-individual {
  margin-bottom: 400px;
}

.card-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.hover:hover {
  &:hover {
    opacity: 0.8;
  }
}

.card-name {
  letter-spacing: 1.5px;
  font-size: 3.2rem;
}

.product-card {
  border: 1px solid;
  margin-bottom: 30px;
}

.card-route {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

.card-information {
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
}

.card-summary {
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d;
}

.card-summary span {
  margin: 0 25px;
  padding: 10px;
  font-size: 2rem;
}

.card-tagline {
  padding: 15px 10px;
  border-bottom: 1px solid #6c757d;
}

.card-price {
  padding: 15px;
}

.view-more {
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 10px 15px;
  background-color: #02a4ff;
  transition: 0.3s;

  &:hover {
    background-color: #00c2ff;
    color: white;
  }
}

// Products Show View Styling
.product-show-hero {
  margin-bottom: 40px;
}

.product-route {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

.product-route-underline {
  width: 50%;
  margin: 0 0 50px;
  height: 4px;
  background-color: #02a4ff;
}

.product-summary-col {
  border: 2px solid #02a4ff;
  padding: 15px;
  background-color: aliceblue;
  background-image: linear-gradient(to right, rgba(77, 179, 237, 0.25), rgba(109, 177, 255, 0.25), rgba(153, 172, 255, 0.25), rgba(202, 163, 255, 0.25), rgba(248, 150, 253, 0.25));
}

.product-summary-container {
  padding: 10px 5px;
}

.image-box {
  padding: 2px;
}

.rated span {
  margin-right: 10px;
}

.ratings-container {
  display: flex;
}


.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #02a4ff;
}

.flickr_pagination a {
  border: 1px solid #265a80;
  color: #265a80;
  text-decoration: none;
  transition: 300ms;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #02a4ff;
  background: #ffffff;
  color: #02a4ff;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}

#comment_body {
  height: 150px;
}
