// Default scaffolding
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

// .notice,
// .alert {
//   position: absolute;
// }

.warning {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.alert {
  width: 30%;
  margin: 20px auto 0;
}

// Common Elements styling
.page-header {
  border: none;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #fab297;
}

.sub-header {
  border: none;
  font-family: 'Exo', sans-serif;
  line-height: 1.8;
}

.justify {
  text-align: justify;
}

h3 {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #118ab7;
  line-height: 1.8;
}

p {
  font-family: 'Kanit', sans-serif;
  font-size: 1.25em;
  line-height: 1.8;
}

.fadeInLeft,
.fadeInRight,
.fadeInDown {
  animation-duration: 1.3s;
  animation-delay: 0.3s;
}

.fadeIn {
  animation-duration: 1.5s;
  animation-delay: 0.3s;
}

.alert-animation {
  animation-delay: 2.5s
}

// .visible {
//   visibility: visible;
// }

// .hidden {
//   visibility: hidden;
// }

#body-content {
  opacity: 0;
}
