// Default scaffolding
html {
  font-size: 62.5%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.info-message {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.alert {
  width: 30%;
  margin: 20px auto 0;
  text-align: center;
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

a:hover {
  text-decoration: none;
}


// Custom common styles
body {
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.body-content {
  transition: 0.3s;
}

.container-fluid {
  padding: 0;
}

.hero-container {
  height: 600px;
  width: 100%;
  position: relative;
  background-position: center;;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}

.hero-brand {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 1.0;
  text-shadow: 1px 5px 12px #000000;
}

.hero-header {
  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  font-size: 5.5rem;
  letter-spacing: 4px;
  line-height: 1.0;
}

.sub-row {
  border-bottom: 2px solid #fab297;
  padding-bottom: 30px;
}

.section-header {
  font-size: 6rem;
}

.page-header {
  font-size: 5rem;
}

.sub-header {
  font-size: 4rem;
  line-height: 1;
}

.underline {
  width: 100px;
  height: 3px;
  background-color: black;
  margin: 15px 0 40px;
}

.default-text {
  font-size: 1.8rem;
  line-height: 1.2;
}

.image-background {
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 60px auto;
}

.image-overlay {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(77, 179, 237, 0.5), rgba(109, 177, 255, 0.5), rgba(153, 172, 255, 0.5), rgba(202, 163, 255, 0.5), rgba(248, 150, 253, 0.5));
}


// Animation
.fadeIn,
.fadeOut {
  animation-duration: 0.5s;
}

.fadeIn {
  animation-delay: 0.5s;
}

.fadeOut {
  animation-delay: 0s;
}

.fadeInDown {
  animation-delay: 0.4s;
}

.fadeOutUp {
  animation-delay: 0s;
}

.alert-animation {
  animation-delay: 2.5s
}


// Positioning
.no-margin {
  margin: 0;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.padding-1 {
  padding: 10px;
}

.padding-2 {
  padding: 20px;
}


// Typography
.justify {
  text-align: justify;
}

.exo {
  font-family: 'Exo', sans-serif;
}

.do-hyeon {
  font-family: 'Do Hyeon', sans-serif;
}

.kanit-3 {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}

.kanit-5 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.kanit-7 {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

.white {
  color: white;
}

.orange {
  color: #ec6b2b;
}

.dark-blue {
  color: #0459c7;
}

.blue {
  color: #02a4ff;
}

.light-blue {
  color: #00c2ff;
}

.yellow {
  color: #f9f871;
}

.pink {
  color: #d6045e;
}

.red {
  color: #f30017;
}
