// Home page
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-fade .carousel-item {
  transition-duration: 1.5s;
}

#image-1 {
  background-image: url(asset_path("david-marcu-125458-unsplash_edit.jpg"));
}

#image-2 {
  background-image: url(asset_path("lubo-minar-1014100-unsplash-fade.jpg"));
}

#image-3 {
  background-image: url(asset_path("victor-xok-973349-unsplash-fade.jpg"));
}

.static-caption {
  position: absolute;
  top: 5%;
  right: 15%;
  left: 15%;
}

.carousel-header {
  font-size: 14rem;
  letter-spacing: 3px;
  line-height: 1.0;
  text-shadow: 1px 5px 12px #000000;
}

.carousel-sub-header {
  margin-left: 20px;
  font-size: 6rem;
  letter-spacing: 2.5px;
  line-height: 1.0;
  text-shadow: 1px 3px 6px #000000;
}

.carousel-caption {
  top: 30%;
  padding: 0;
}

.carousel-tagline {
  font-size: 4rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px black;
}

.carousel-text {
  width: 60%;
  margin: 40px auto 0;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  line-height: 1.3;
  text-shadow: 2px 2px 6px black;
}

.carousel-btn {
  margin-top: 80px;
  padding: 7px 12px;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
  color: #02a4ff;
  background-color: rgba(41, 54, 62, 0.59);
  border: 3px solid #02a4ff;
  transition: 0.3s ease;
}

.carousel-btn:hover {
  color: #000;
  background-color: #00C2FF;
  border: 3px solid rgba(41, 54, 62, 0);
}

.carousel-control-next,
.carousel-control-prev {
  top: 45%;
  bottom: 45%;
  transition: 0.3s ease;
}

.fa-chevron-left,
.fa-chevron-right {
  position: relative;
  top: 6px;
  font-size: 2rem;
  color: #02a4ff;
}

.image-location {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  color: #949292;
}

.carousel-indicators .active {
  background-color: #02a4ff;
}


// About styling
.about-hero-container {
  background-image: url(asset_path("flo-karr-145590-unsplash-fade.jpg"));
  background-position: center;
}

#who-we-are {
  background-image: url(asset_path("christin-hume-588780-unsplash-fade.jpg"));
  margin-top: 0;
}

#why-use-us {
  background-image: url(asset_path("kay-liedl-423158-unsplash-fade.jpg"));
}

#tour-types {
  background-image: url(asset_path("john-gough-525717-unsplash-fade.jpg"));
}

#group-or-private {
  background-image: url(asset_path("rikki-chan-122572-unsplash-tint.jpg"));
}

#next-steps {
  background-image: url(asset_path("semih-aydin-38747-unsplash-tint.jpg"));
}

.about-container {
  min-height: 600px;
}

.card {
  box-shadow: 5px 5px 7px lightgrey;
}

.card-image {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-image-1 {
  background-image: url(asset_path("matthias-patzuda-760859-unsplash-tint.jpg"));
}

#card-image-2 {
  background-image: url(asset_path("max-adulyanukosol-586980-unsplash-tint.jpg"));
}

#card-image-3 {
  background-image: url(asset_path("shitty-pics-446447-unsplash-tint.jpg"));
}

#card-image-4 {
  background-image: url(asset_path("rawpixel-1064343-unsplash-tint.jpg"));
}

.card-title {
  font-size: 5rem;
}

.card-text {
  font-size: 1.6rem;
}

.action-col {
  height: 150px;
}

.action-background {
  background-color: #fff;
  border: 3px solid #fff;
  transition: 0.4s ease;

  i {
    font-size: 6.8rem;
  }

  &:hover {
  }
}


//Contact Styling
#contact-1 {
  background-image: url(asset_path("victor-xok-1060062-unsplash-tint.jpg"));
  margin-top: 0;
  background-position: 0px -100px
}

.custom-form {
  margin: 35px auto 75px;
}

label {
  font-size: 2.5rem;
  margin-top: 10px;
}

.form-control {
  min-height: 40px;
  font-size: 1.5rem;
  border: 0;
  box-shadow: 0px 0px 3px #02a4ff;
  border-radius: 10px;
}

.submit {
  min-width: 70px;
  height: 40px;
  position: relative;
  background-color: #fff;
  color: #02a4ff;
  border: 3px solid #02a4ff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: #fff;
    background-color: #02a4ff;
  }
}


// Media queries
@media (max-width: 1399px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 1199px) {
  html {
    font-size: 54%;
  }

  .static-caption {
    right: 5%;
    left: 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .hover-fadeUp {
    display: none;
  }

  .hero-header {
    left: 20%;
    right: 20%;
  }

}

@media (max-width: 767px) {
  html {
    font-size: 45%;
  }

  .nav-header {
    margin: 12px auto 10px;
  }

  .secondary-links-row {
    padding-bottom: 10px;
  }

  .secondary-links-list {
    padding: 10px 50px;
  }

  .carousel-header {
    font-size: 10rem;
  }

  .carousel-sub-header {
    font-size: 4.5rem;
  }

  .carousel-tagline {
    font-size: 3rem;
  }

  .carousel-text {
    width: 80%;
  }

  .nav-open {
    top: 1%;
    right: 1%;
  }

  .navbar-form {
    width: 80%;
  }

  footer {
    padding: 0 10px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
    margin: 0 3px;
  }

}

@media (max-width: 575px) {
  html {
    font-size: 40%;
  }

  .carousel-header {
    font-size: 8rem;
  }

}
