body {
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container-fluid {
  padding: 0;
}


// Home page
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#image-1 {
  background-image: url(asset_path("david-marcu-125458-unsplash_edit.jpg"));
}

#image-2 {
  background-image: url(asset_path("lubo-minar-1014100-unsplash-fade.jpg"));
}

#image-3 {
  background-image: url(asset_path("victor-xok-973349-unsplash-fade.jpg"));
}

.static-caption {
  position: absolute;
  top: 5%;
  right: 15%;
  left: 15%;
}

.hero-header {
  font-size: 14rem;
  letter-spacing: 3px;
  line-height: 1.0;
  text-shadow: 1px 5px 12px #000000;
}

.hero-sub-header {
  margin-left: 20px;
  font-size: 6rem;
  letter-spacing: 2.5px;
  line-height: 1.0;
  text-shadow: 1px 3px 6px #000000;
}

.carousel-caption {
  top: 35%;
  bottom: 30%;
  padding: 0;
}

.carousel-text {
  font-size: 4rem;
  letter-spacing: 2px;
  color: #ec6b2b;
  text-shadow: 2px 2px 6px black;
}

.carousel-btn {
  margin-top: 90px;
  padding: 7px 12px;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
  color: #02a4ff;
  background-color: rgba(41, 54, 62, 0.59);
  border: 3px solid #02a4ff;
  transition: 0.3s;
}

.carousel-btn:hover {
  color: #000;
  background-color: #00C2FF;
  border: 3px solid rgba(41, 54, 62, 0);
}

.image-location {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  color: #949292;
}

.carousel-indicators .active {
  background-color: #02a4ff;
}


// About styling
.about-image {
  max-width: 100%;
  margin: 30px auto;
}

.thumbnail {
  box-shadow: 5px 5px 7px lightgrey;

  .caption {
    min-height: 250px;

    p {
      font-size: 1.6rem;
    }
  }

}



//Contact Styling
.custom-form {
  margin: 35px auto 75px;
  background-color: #f5f5f5;
  border: 3px solid #fab297;
  border-radius: 5px;
}

.custom-form label {
  margin-top: 10px;
}

.custom-form .form_label {
  margin: 10px auto;
}

.in-text-link {
  color: #118ab7;
}

.in-text-link:hover {
  text-decoration: none;
  color: #fab297;
}
