// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Navbar styling
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0;
  border-radius: 0;
  // background-color: #afeeee;
  background-color: #fab297;
  height: 80px;
}

.navbar ul {
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-flex;
  list-style-type: none;
  // padding: 0.6em 0.35em;
  border-radius: 5px;
}

.navbar a {
  padding: 0.5em;
  font-family: Helvetica, sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  letter-spacing: 3px;
  // color: #ff6a92;
  color: #118ab7;
  border-radius: 10px;
}

.navbar a:hover {
  text-decoration: none;
  color: #fab297;
}

.navbar li:hover {
  background-color: #118ab7;
}


// Header Styling
h1 {
  font-family: Verdana, sans-serif;
  text-decoration: underline;
  color: skyblue;
  text-align: center;
}


// Footer styling
footer {
  margin-top: 1.5em;
  height: 200px;
  background-color: #fab297;
}

.tagline {
  width: 35%;
  margin: 0 auto 2.8em auto;
  padding-top: 0.4em;
  font-size: 2.5em;
  text-transform: capitalize;
  text-align: center;
}

.copyright {
  width: 15%;
  margin: 0 auto;
  text-align: center;
}
