// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  padding-top: 80px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100%;
  position: relative;
  padding: 90px 0 200px;
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }

  .main-container {
    padding-top: 0;
  }

  // #nav-list {
  //   display: flex;
  //   flex-direction: column;
  // }
}

@media (max-width: 1200px) {
  .navbar {
    margin-bottom: 0;
  }
}


// Home styling
#hero-container {
  background-image: url(asset_path("flo-karr-145590-unsplash.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
  opacity: 0.88;
}

#hero-caption {
  // width: 65%;
  max-width: 48vw;
  margin-top: 16em;
  border: 6px solid #0f022d;
  border-radius: 15px;
}

#hero-caption h1 {
  margin-bottom: 20px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  text-decoration: none;
  // text-transform: uppercase;
  color: #0f022d;
  text-align: center;
  font-size: 3.5em;
}

#caption-divider {
  border-top: 2px solid #e3eafc;
}

#hero-caption h2 {
  color: #de5c1c;
  background-color: #0f022d;
  padding: 20px 5px;
  width: 53%;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  font-family: 'Exo', sans-serif;
  font-size: 2.2em;
  font-weight: 600;
  transition: color 300ms, background-color 300ms, opacity 300ms;
}

#hero-caption h2:hover {
  background-color: #de5c1c;
  color: #0f022d;
  opacity: 0.85;
}

#hero-caption a:hover,
#hero-caption a:focus {
  text-decoration: none;
}

@media (max-width: 768px) {
  #hero-container {
    height: 580px;
  }
  #hero-caption {
    max-width: 70vw;
    margin-top: 9em;
  }
  #hero-caption h1 {
    font-size: 2.0em;
  }
  #hero-caption h2 {
    font-size: 1.5em;
    width: 100%;
  }
}

// About styling
.about-image {
  max-width: 100%;
  margin: 30px auto;
}


//Contact Styling
.custom-form {
  width: 50%;
  margin: 35px auto 75px;
  background-color: #f5f5f5;
  border: 3px solid #fab297;
  border-radius: 5px;
}

.custom-form label {
  margin-top: 10px;
}

.custom-form .form_label {
  margin: 10px auto;
}

.in-text-link {
  color: #118ab7;
}

.in-text-link:hover {
  text-decoration: none;
  color: #fab297;
}


// Footer styling
footer {
  // margin-top: 0;
  height: 200px;
  background-color: #fab297;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.tagline {
  // width: 35%;
  height: 70%;
  margin: 0 auto;
  padding-top: 0.4em;
  font-size: 2.5em;
  text-transform: capitalize;
  text-align: center;
}

.copyright {
  // width: 15%;
  height: 30%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .tagline {
    font-size: 2.0em;
  }
}
