body {
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container-fluid {
  padding: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}


// Home page
.carousel {
  // height: 900px;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  top: 10%;
  bottom: 30%;
  border: 3px solid #fff;
}

// About styling
.about-image {
  max-width: 100%;
  margin: 30px auto;
}

.thumbnail {
  box-shadow: 5px 5px 7px lightgrey;

  .caption {
    min-height: 250px;

    p {
      font-size: 1.6rem;
    }
  }

}



//Contact Styling
.custom-form {
  margin: 35px auto 75px;
  background-color: #f5f5f5;
  border: 3px solid #fab297;
  border-radius: 5px;
}

.custom-form label {
  margin-top: 10px;
}

.custom-form .form_label {
  margin: 10px auto;
}

.in-text-link {
  color: #118ab7;
}

.in-text-link:hover {
  text-decoration: none;
  color: #fab297;
}
