<footer class="d-flex justify-content-between align-items-center">
  <p class="kanit-3 white footer-text">&copy; Copyright Euro Bike Tours 2018</p>
  <div class="d-flex h-100 align-items-center justify-content-between">
    <a href="https://www.facebook.com" class="d-flex justify-content-center align-items-center social-icon" id="facebook">
      <i class="fab fa-facebook-f white"></i>
    </a>
    <a href="https://www.twitter.com" class="d-flex justify-content-center align-items-center social-icon" id="twitter">
      <i class="fab fa-twitter white"></i>
    </a>
      <a href="https://www.instagram.com" class="d-flex justify-content-center align-items-center social-icon" id="instagram">
      <i class="fab fa-instagram white"></i>
    </a>
      <a href="https://www.youtube.com" class="d-flex justify-content-center align-items-center social-icon" id="youtube">
      <i class="fab fa-youtube white"></i>
    </a>
  </div>

</footer>
