<div class="product-reviews">
  <div class="row">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>
<%= will_paginate @comments, class: "flickr_pagination" %>
