<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary", id: "new-product-btn" %>

<div class="container-fluid products">
  <div class="row">
    <% @products.each do |product| %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>
