
<h1 class="page-header animated fadeInDown">Products</h1>

<% if signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-primary", id: "new-product-btn" %>
<% end %>

<div class="container-fluid products-container">
  <div class="row animated fadeIn">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>
